VITE_RAPIDAPI_KEY=c94fb41263mshe7351ec7a3f849ep10d192jsn39a456ce5fe0
NEXT_PUBLIC_SUPABASE_URL=https://vvrnlfpgfwiocrpuhirf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_3cyB9trFIfLVS837cyvCag_MKqpOVWw
